:root{
    --blue:#0066fffb;
    --black:#130f40;
    --light-color:#666;
}

html{
                min-height: 100%;
                max-width: 100%;
}
            body{
                margin: 0;
                border: 0;
                padding: 0;
                background:url("blue.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                height:600px;
                font-family:'Poppins',sans-serif;
                margin:0%;
                padding:0;
               text-shadow: 0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(0, 229, 255),
      0 0 82px rgb(0, 229, 255),
      0 0 92px rgb(0, 229, 255),
      0 0 102px rgb(0, 229, 255),
             }
        
            div{
                padding-left:5rem;
                padding-top: 70px;
             }

      .effect{
        font-size: 70px;
        color: transparent;
        -webkit-text-stroke:1px #0066fffb;
        background-image:url("back.png");
        -webkit-background-clip: text;
        background-clip: text;
        background-position: 0 0;
        animation: back 20s linear infinite;
      }
      @keyframes back{
        100%{background-position:2000px 0;}
}

.fadeIn h1{
    font-size:70px;
    color: #0066fffb;
}
.fadeIn h3{
    color:#0066fffb;
    font-size:15px;
}
.fadeIn p{
    font-size:50px;
    color: #0066fffb;
}
      header{
                    text-align:right;
                    
                }
                .header{
                    position:fixed;
                    top:0;
                    left:0;
                    right:0;
                    justify-content: space-between;
                    padding:2rem 9%;
                    
                    
                }
                .header .navbar a{
    
                    margin:0 1rem;
                    text-decoration: none;
                    color:#fff;
                }
                .header .navbar a:active{
                    color: black;
                }
                .header .navbar a:hover{
                    
                   color: #0066fffb;
                   transform: scale(1.2);
                   margin-right: 1.5rem;
                }
                @keyframes fadeIn {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }

.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size:3.5rem;
    color: #0066fffb;;
}

        .fadeIn {
            
            animation-name: fadeIn;
            animation-duration: 5s;
        }
        .about_text h1
        {
            color:transparent;
        }
        .row{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            padding-left: 10px;
            padding-top: 10px;
            
            
        }
        .row a{
            color:#fff;;
            text-decoration: none;
            padding: 10px 20px;
            margin-right: 20px;
            border:2px solid #0066fffb;
            background-color:#0066fffb
            }
         .row a:hover{
            transform: scale(1.2);
            margin-right: 1.5rem;
            color:#0066fffb ;
            background-color:var(--black) ;
           }
          
   
          